In [2]:
import pandas as pd
import numpy as np

import requests
import time
import json
from tenacity import (
    retry,
    stop_after_attempt,
    wait_exponential,
    retry_if_exception_type,
    RetryError
)

from concurrent.futures import ThreadPoolExecutor, as_completed
from tqdm.notebook import tqdm  # Jupyter-compatible progress bar
import copy
import pymysql
from pymysql import cursors
from threading import Lock

from IPython.display import display

In [3]:
# RATINGS DATASET

df_ratings = pd.read_csv('title.ratings.tsv', sep='\t', on_bad_lines='skip', low_memory=False)

display(df_ratings.head(3))
print(f'Number of rows and columns in ratings dataset are {df_ratings.shape[0] } and {df_ratings.shape[1]}')

      tconst  averageRating  numVotes
0  tt0000001            5.7      2157
1  tt0000002            5.5       293
2  tt0000003            6.5      2199

Number of rows and columns in ratings dataset are 1615604 and 3

In [4]:
# Check for unique movie ids

valid_movie_ids = set(df_ratings['tconst'])

print(f"Unique movies with ratings are {len(valid_movie_ids)}")

Unique movies with ratings are 1615604

In [5]:
# CONTENT DATASET

chunk_size = 100000 # Chunks to be processed per iteration
usecols = ['tconst', 'titleType', 'primaryTitle', 'startYear', 'genres'] # Pulling only required columns
dtypes = {'tconst': 'category', 'startYear': 'category'} # Setting dtypes for specific columns
invalid_genres = {'[]', '\\N'}
results = []

#  Function to select only movies with valid genres
def process_chunk(chunk):
        return chunk[
        chunk['genres'].notna() & 
        (chunk['genres'].apply(lambda x: x not in invalid_genres)) &
        (chunk['titleType'] == 'movie') &
        chunk['tconst'].isin(valid_movie_ids)
    ]

# Reading the movie file 100000 records per chunk (4 parallel threads)
with ThreadPoolExecutor(max_workers=4) as executor:
    chunks = pd.read_csv(
        'title.basics.tsv',
        sep='\t',
        chunksize=chunk_size,
        on_bad_lines='skip',
        usecols=usecols,
        dtype=dtypes,
        low_memory=False
    )
    results = list(executor.map(process_chunk, chunks))

# Concatenate results
df_imdb = pd.concat(results, ignore_index=True, copy=False)

df_imdb.head()

,tconst,titleType,primaryTitle,startYear,genres
0,tt0000009,movie,Miss Jerry,1894,Romance
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport"
2,tt0000574,movie,The Story of the Kelly Gang,1906,"Action,Adventure,Biography"
3,tt0000591,movie,The Prodigal Son,1907,Drama
4,tt0000615,movie,Robbery Under Arms,1907,Drama

In [6]:
print(f'Number of rows and columns in movies dataset are {df_imdb.shape[0] } and {df_imdb.shape[1]}')

Number of rows and columns in movies dataset are 323475 and 5

In [7]:
final_data = df_imdb.merge(df_ratings, how='inner', on='tconst')
final_data.head()

,tconst,titleType,primaryTitle,startYear,genres,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,1894,Romance,5.4,224
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport",5.3,558
2,tt0000574,movie,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",6.0,987
3,tt0000591,movie,The Prodigal Son,1907,Drama,5.6,31
4,tt0000615,movie,Robbery Under Arms,1907,Drama,3.9,28

In [8]:
# Bayesian Average for minimizing new movie bias
def bayesian_average(df):
    mean_rating = df['averageRating'].mean()
    minvote_threshold = df['numVotes'].quantile(0.50)
    df['adjusted_rating'] = round(((df['numVotes'] / (df['numVotes'] + minvote_threshold)) 
                                           * df['averageRating']) + ((minvote_threshold/(df['numVotes']+minvote_threshold))
                                                                            * mean_rating),2)
    return df
final_data = bayesian_average(final_data)  
final_data.sort_values(by='tconst',inplace=True)
final_data.head()

,tconst,titleType,primaryTitle,startYear,genres,averageRating,numVotes,adjusted_rating
0,tt0000009,movie,Miss Jerry,1894,Romance,5.4,224,5.56
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport",5.3,558,5.39
2,tt0000574,movie,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",6.0,987,6.01
3,tt0000591,movie,The Prodigal Son,1907,Drama,5.6,31,5.96
4,tt0000615,movie,Robbery Under Arms,1907,Drama,3.9,28,5.46

In [9]:
imdb_ids = [x for x in final_data['tconst']]

In [ ]:
@retry(stop=stop_after_attempt(5), wait=wait_exponential(multiplier=1, min=1, max=10))

def fetch_tmdb_data(imdb_id):
    url = f"https://api.themoviedb.org/3/find/{imdb_id}?external_source=imdb_id"
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhYzg5YWYxMjY2YTQ3ODk2MTRkZmFhZjQ3NmU0MTg5MiIsIm5iZiI6MTc0Nzc0Nzc4My41NjE5OTk4LCJzdWIiOiI2ODJjODNjN2NiOTE5ZjViNDUwYmRlOTMiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.KGsoJGKHYED_YDMI3aCKzzktN9LtrhmR0MVLhPuXKis"
    }
    response = requests.get(url, headers=headers, timeout=20)
    response.raise_for_status()
    return response.json()

def process_imdb_id(imdb_id):
    try:
        data = fetch_tmdb_data(imdb_id)
        movie_data = data.get('movie_results', [])
        if movie_data:
            return imdb_id, movie_data[0].get('original_language', 'not_found')
        else:
            return imdb_id, 'No Movie Data in TMDB'   
    except Exception as e:
        return imdb_id, f'Processing error: {str(e)}'
    

with ThreadPoolExecutor(max_workers=20) as executor:
    results = list(tqdm(
        executor.map(process_imdb_id, imdb_ids),
        total=len(imdb_ids),
        desc="Processing IMDB IDs"
    ))

df_lang = pd.DataFrame(columns=['tconst','original_language'])
# Build the lang_df from results
data = {'tconst': [x[0] for x in results],
        'original_language': [x[1] for x in results]}
df_lang = pd.DataFrame(data)

Processing IMDB IDs:   0%|          | 0/323475 [00:00<?, ?it/s]

In [ ]:
# df_lang.to_excel('language_dictionary.xlsx')

In [10]:
language_dict = pd.read_excel('language_dictionary.xlsx')
language_dict.head()

      tconst original_language
0  tt0000009                en
1  tt0000147                en
2  tt0000574                en
3  tt0000591                fr
4  tt0000615                en

In [11]:
final_data = final_data.merge(language_dict,on='tconst',how='inner')
final_data.to_excel('Final Data.xlsx')

In [12]:
final_data.head()

,tconst,titleType,primaryTitle,startYear,genres,averageRating,numVotes,adjusted_rating,original_language
0,tt0000009,movie,Miss Jerry,1894,Romance,5.4,224,5.56,en
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport",5.3,558,5.39,en
2,tt0000574,movie,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",6.0,987,6.01,en
3,tt0000591,movie,The Prodigal Son,1907,Drama,5.6,31,5.96,fr
4,tt0000615,movie,Robbery Under Arms,1907,Drama,3.9,28,5.46,en

In [13]:
user_input = input('Which genre do you want to check for: ')

def genre_rank(user_input,genre_input):
    genress = genre_input.split((','))
    for genre in genress:
        if user_input in genre:
            flag = (genress.index(genre))+1
            break
        else:
            flag = 0
    return flag

final_data[f'has_{user_input}'] = final_data['genres'].apply(lambda genre_input: genre_rank(user_input,genre_input))

final_data[final_data[f'has_{user_input}'] != 0].head()

,tconst,titleType,primaryTitle,startYear,genres,averageRating,numVotes,adjusted_rating,original_language,has_Thriller
57,tt0002574,movie,What Happened to Mary,1912,"Action,Drama,Thriller",5.9,38,6.05,en,3
58,tt0002588,movie,Zigomar contre Nick Carter,1912,"Crime,Thriller",6.0,55,6.07,xx,2
60,tt0002628,movie,Der Andere,1913,"Drama,Thriller",5.4,127,5.65,de,2
133,tt0003584,movie,"The $5, 000, 000 Counterfeiting Plot",1914,"Crime,Thriller",6.7,29,6.31,en,2
394,tt0004866,movie,After Five,1915,"Comedy,Crime,Thriller",4.8,27,5.74,en,3

In [14]:
final_data.loc[(final_data[f'has_{user_input}'] != 0) & ((final_data['original_language'] == 'bn'))].sort_values(
    by=[f'has_{user_input}','adjusted_rating'],ascending=[True,False]).to_excel(
        f'movie_has_{user_input}_list.xlsx')